<template>
    <lightning-layout>
        <lightning-layout-item>
            <lightning-input label="Enter object name" onchange={searchChangeHandler}></lightning-input>
        </lightning-layout-item>
        <lightning-layout-item class="slds-m-top_large slds-m-left_small">
            <lightning-button label="Search" onclick={searchClickHandler}></lightning-button>
        </lightning-layout-item>
    </lightning-layout>  
</template>